article a {
	display: block;
	position: relative;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 4px;
	background-color: #fff;
	text-decoration: none;
	box-shadow: 0 2px 5px 0 #3939391a;
	transition: all 0.3s ease;
	cursor:auto;
  }
  

  @keyframes rotating {
	from {
	  transform: rotate(0deg);
	}
  
	to {
	  transform: rotate(360deg);
	}
  }
  
  article h3 {
	color: #673AB7;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.25;
	margin: 0;
  }
  
  article strong {
	font-size: 12px;
	font-weight: 600;
	padding-right: 10px;
  }


  .sembuh {
	color: #00A485;
  }

  .pantau {
	color: #FFC052;
  }

  .pengawasan {
	color: #FF855D;
  }

  .meninggal {
	color: #FF4C7C;
  }

  span {
	color: #673AB7;
	font-size: 18px;
  }
  
  article {
	position: relative;
  }
  
  section {
	display: flex;
	padding-top: 8px;
	justify-content: space-between;
  }
  
  @media screen and (min-device-width: 224px) and (max-device-width: 320px) {
	article h3  {
		font-size: 28px;
	}
	article h3 span {
		font-size: 10px;
	}
	article strong {
		font-size: 12px;
		padding-right: 9px;
	}
  }

  @media screen and (min-device-width: 375px) and (max-device-width: 400px) {
  article strong {
	font-size: 10px;
	padding-right: 10px;
  }
}
  
  @media screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	article strong {
		font-size: 10px;
		font-weight: 600;
		padding-right: 9px;
	}

	article h3 {
		color: #673AB7;
		font-size: 32px;
	}
  }
  

  @media screen and (min-device-width: 768px) and (max-device-width: 1000px) {
	article span { 
	   display: none;
	}
	article strong {
		padding-right: 9px;
		font-size: 11px;
	}
}
