<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="description" content="Website yang menyajikan perkembangan COVID-19 di Banyuwangi dengan
    penampilan ringan dan sederhana agar tidak menghamburkan kuota data. "/>
    <meta property="og:title" content="Data terkini COVID-19 di Banyuwangi versi cepat & hemat kuota."/>  
    <meta property="og:description" content="Website yang menyajikan perkembangan COVID-19 di Banyuwangi dengan
    penampilan ringan dan sederhana agar tidak menghamburkan kuota data. " />
    <meta property="og:url" content="https://covid19bwi.netlify.app" />
    <meta property="og:site_name" content="covid19-bwi" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:image" content="https://cdn.sanity.io/images/zba3vcg2/production/89babbe3d133bddd4d3a48abaea25ac244b4dc27-1200x630.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="google-site-verification" content="tdTTdShEitllnaEINTnJFrFrXBqw3SrzIiue8IeIFmo" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>